<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%HEAD_TITLE%%</title>
</head>
<body>
    <header>
        <h1>Skeleton</h1>
        <nav>
            <ul>
                <li><a href="/public/index.html">Home</a></li>
                <li><a href="/public/about.html">About</a></li>
                <li><a href="/public/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        %%MAIN_CONTENT%%
    </main>
    <footer>
        <p>Mon footer</p>
    </footer>
</body>
</html>